# Lists

Variable length collections

Contents can be modified

Defined using []

** Q1 **<br>

Create a list, l1, using the [] operator

[1, 2, 3, None]

** Q2 ** <br>

Can also be defined using the 'list' type function

Create a list, l2, from l1, using the 'list' type function

[1, 2, 3, None]

** Q3 **<br>

Can supply a range to the list function

Create a list, l3, using the range() function.

Use the range 0,1,2,....,19

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

** Q4 **

Use append() to add elements to end of list

Append l3 to the end of l2

[1,
 2,
 3,
 None,
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]]

** Q5 **

Use insert() to insert items at a specific position

NB list indexes start at 0

Insert the value 222 between values 3 and None in l2

[1,
 2,
 3,
 222,
 None,
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]]

** Q6 **

Use pop() to remove elements from a list

Remove the value Non from the lsit l2

[1,
 2,
 3,
 222,
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]]

** Q7 **

Use sort() to sort lists

Create a list of stock symbols 'FB', 'APPL', 'NFLIX', 'GOOG'

Sort the list alphabetically

['APPL', 'FB', 'GOOG', 'NFLIX']

** Q8 ** 

Can pass a function to use as a sort as opposed to the default.

Sort the list of symbols on the number of characters of the symbol

['FB', 'APPL', 'GOOG', 'NFLIX']

** Q9 **

Perform binary searching using bisect the bisect module

bisect.bisect() returns the index of of a list where an element should be inserted to maintain a sort

In [9]:
import bisect

** Q10 **

Create a list, even_numbers using the following values

2,4,6,8,10

** Q11 **

Use bisect() to determine at what location in the list would the value 7 be inserted

3

** Q12 **

Insert the value 7 into the even_numbers list whilst maintaining their order

[2, 4, 6, 7, 8, 10]

** Q13 **

Slice to select sub-selections of lists (or other collections)

Some form of start:stop operation

Create a list seq using the following values 1,3,5,7,9,11,13,15,17,19

** Q14 **

Create a slice that represents the list of values 3,5,7,9

[3, 5, 7, 9]

** Q15 **

Assign a sequence [10,12] into seq to replace the values 11 and 13

[1, 3, 5, 7, 9, 10, 12, 15, 17, 19]

** Q 16 **

start or stop can be omitted

here, default is to the actual start or end of the list

Slice the first 5 elements of seq

[1, 3, 5, 7, 9]

** Q 17 **

Slice from the 3rd element to the end of seq

[7, 9, 10, 12, 15, 17, 19]

** Q 18 **

A Step can be placed after a second colon to indicate a step

Slice every second element of seq

[1, 5, 9, 12, 17]

** Q 19 **

Slice every 3rd element of seq

[1, 7, 12, 19]

# Built in Sequence Functions

** Q 20 **

Creat a sequence of values

[1,3,5,7,9,11,13,15,17,19]

Use enumerate as part of a for loop and print ech of the (i value) tuples yielded by enumerate

0 1
1 3
2 5
3 7
4 9
5 11
6 13
7 15
8 17
9 19

** Q 21 **

returns a new sorted list from the elements of any sorted sequence

Create the sequence of values [9,6,4,1,12,44,1]

Sort them in ascending order

[1, 1, 4, 6, 9, 12, 44]

** Q 22 **

pairs up the elements of a numner of lists, tuples etc to create a list of tuples

Take the following 2 sequences

'FB', 'APPL', 'NFLIX', 'GOOG'
12.23, 45.32, 76.12, 192.32

Zip them together to create a list of pairs [('FB', 12.23), ('APPL', 45.32), ('NFLIX', 76.12), ('GOOG', 192.32)]c

[('FB', 12.23), ('APPL', 45.32), ('NFLIX', 76.12), ('GOOG', 192.32)]

** Q 23 **

iterate over the following list ['FB', 'APPL', 'NFLIX', 'GOOG'] in reverse order

['GOOG', 'NFLIX', 'APPL', 'FB']

## Random Numbers

Often useful to quickly create and populate data structures with random numbers.

For testing, prototyping etc

Use the numpy.random module

Also includes functions to create arrays of random numbers populated with a variety of probaility distributions (chi-squared, bi-nomial, lognormal)

https://docs.scipy.org/doc/numpy-1.14.0/reference/routines.random.html

https://www.itl.nist.gov/div898/handbook/eda/eda.htm

In [24]:
import numpy as np

** Q 24 ** 

Create a 5 x 2 array of samples from the normal distribution

array([[-1.10838845,  1.36476334],
       [-0.64594037,  1.37036382],
       [-0.41923112, -1.13632578],
       [ 0.89913949,  0.85981812],
       [ 0.13875994,  0.61277623]])

** Q 25 ** 

Create a 3 x 3 array of samples from the chi-squared distribution

array([[0.59143927, 1.29723198, 1.79739004, 1.71234844],
       [0.83340295, 2.08986045, 0.01027237, 1.76096296],
       [2.04332557, 3.92212013, 0.55389691, 1.76752971]])

# User Defined Functions

Declared using the def keyword in python

Results send back to the call site using the 'return' keyword

Functions can have multiple return statements

Functions can return multiple values

Function arguments are treated as parameters in at the function declaration

Funciton arguments can be values 

Function arguments can be other functions

Parameters can have default values

Functions can have names

Functions can be annonymous (lambdas)

** Q 26 **

Write a function vel calculates the final velocity.<br>

Inputs u, t, a (default to 9.81) <br>

Use the following definition <br>
    u + (at)

In [28]:
# Fall off a building
v1 = vel(0,5)
v1

49.050000000000004

In [29]:
# Decelerate from 80 m/s for 5 seconds
v2 = vel(80,-10, 5)
v2

30

** Q 27 ** 

Write a function multiple_returns that has multiple return statements

Inputs a,b,c

Definition<br>

 If c > 5 reutrn (a*b)/c<br>
 Else return (a*b)*c <br>

In [31]:
multiple_returns(3,4,2)

24

** Q 28 **

Write a function called foo that returns the values 3,4,5

In [33]:
x,y,z = foo()

x,y,z

(3, 4, 5)

In [34]:
# Same idea here
values = foo()
values

(3, 4, 5)

## Lambdas

Sometimes, functions are so short, its not worth your effort to declared and name a function.

Lamdas allow a programmer to define and implement a function right at the point where it is needed.

Lambdas do not need a name, just a function body.

Useful in situations where some functions take other functions as arguments

In [35]:
# Simple Function
def bar(x):
    return (x*2) + 1

# Simple funciton that has parameters a list (lst) and a function (fun) 
def list_walk(lst, func):
    return [func(x) for x in lst]

my_list = [1,2,3,4,5]

v1 = list_walk(my_list, bar)
v1

[3, 5, 7, 9, 11]

** Q 29 **

Spend a few minutes trying out the code above.<br>

Replace the statement <br>

v1 = list_walk(my_list, bar) <br>

so that instead of supplying the function name bar, supply instead a lambda that implements the same logic.

[3, 5, 7, 9, 11]